/**
 * Form
 *
 * @uses .Form-{ property }
 */
.Form {
	
	/**
	 * Newsletter
	 *
	 * @uses .Form-newsletter
	 */
	&-newsletter {
		
		/**
		 * Title
		 *
		 * @uses .Form-newsletter__title
		 */
		&__label {
			@extend %display-xs-block, %display-md-inline-block;
			@include margin( bottom 1em );
		}


		/**
		 * Input
		 *
		 * @uses .Form-newsletter__input
		 */
		&__input {
			@extend %display-xs-inline-block, %vertical-align-middle;
			@include reset-placeholder( rgba( the_color( gray, very-dark ), .7 ) );
			@include padding( right 20px left 20px);

			@include size( 60%, 44px );
			border: 1px solid black;
			border-right: none;

			@include from( 'md' ) {
				width: auto;
			}
		}


		/**
		 * Submit
		 *
		 * @uses .Form-newsletter__submit
		 */
		&__submit {
			@extend %display-xs-inline-block, %font-weight-semibold, %vertical-align-middle, %position-xs-relative;
			@include font( 13, 25.03 );
			@include padding( right 20px left 20px);
			
			color: the_color( gray, very-dark );
			@include size( 40%, 44px );
			border: 1px solid black;
			border-left: none;

			@include from( 'md' ) {
				width: auto;
			}

			&::after {
				@extend %display-xs-block;
				@include absolute( top 0 left 100% );
				@include margin( left 20px );
				@include size( 53px, 100% );
					
				background: {
					image: url( #{ map-get( $directories, png ) }hand.png );
					position: center;
					size: 100%;
				}
			}

			@include from( 'md' ) {
				content: '';
			}
		}


		/**
		 * Mail to
		 *
		 * @uses .Form-newsletter__mail-to
		 */
		&__mail-to {
			color: the_color( orange, very-dark );
			@include font( 12.01, 19.02 );

			&:hover {
				text-decoration: underline;
			}
		}
	}
}