/**
 * Margins classes
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr>
 */
$margin-properties: 'top' 'right' 'bottom' 'left';
$margin-values: '24' '48' '72';

// Loop through each breakpoint
@each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
	@include media-breakpoint-up( $breakpoint-name ) {

		/**
		 * Margin 0 auto
		 */
		%margin-#{ unquote( $breakpoint-name ) }-0-auto { margin: 0 auto; }

		.margin-#{ unquote( $breakpoint-name ) }-0-auto {
			@extend %margin-#{ unquote( $breakpoint-name ) }-0-auto;
		}


		/**
		 * Margin auto
		 */
		%margin-#{ unquote( $breakpoint-name ) }-x-auto {
			margin-right: auto;
			margin-left: auto;
		}

		.margin-#{ unquote( $breakpoint-name ) }-x-auto {
			@extend %margin-#{ unquote( $breakpoint-name ) }-x-auto;
		}

		%margin-#{ unquote( $breakpoint-name ) }-y-auto {
			margin-top: auto;
			margin-bottom: auto;
		}

		.margin-#{ unquote( $breakpoint-name ) }-y-auto {
			@extend %margin-#{ unquote( $breakpoint-name ) }-y-auto;
		}

		%margin-#{ unquote( $breakpoint-name ) }-x-0 {
			margin-right: 0;
			margin-left: 0;
		}

		.margin-#{ unquote( $breakpoint-name ) }-x-0 {
			@extend %margin-#{ unquote( $breakpoint-name ) }-x-0;
		}

		%margin-#{ unquote( $breakpoint-name ) }-y-0 {
			margin-top: 0;
			margin-bottom: 0;
		}

		.margin-#{ unquote( $breakpoint-name ) }-y-0 {
			@extend %margin-#{ unquote( $breakpoint-name ) }-y-0;
		}

		%margin-#{ unquote( $breakpoint-name ) }-0 {
			margin: 0;
		}

		.margin-#{ unquote( $breakpoint-name ) }-0 {
			@extend %margin-#{ unquote( $breakpoint-name ) }-0;
		}

		%margin-#{ unquote( $breakpoint-name ) }-bottom-0 {
			margin: 0;
		}

		.margin-#{ unquote( $breakpoint-name ) }-bottom-0 {
			@extend %margin-#{ unquote( $breakpoint-name ) }-bottom-0;
		}


		// For each property find in $margin-properties
		@each $margin-property in $margin-properties {

			/**
			 * Margin auto
			 */
			%margin-#{ unquote( $breakpoint-name ) }-#{ $margin-property }-auto {
				margin-#{ $margin-property }: auto;
			}

			.margin-#{ unquote( $breakpoint-name ) }-#{ $margin-property }-auto {
				@extend %margin-#{ unquote( $breakpoint-name ) }-#{ $margin-property }-auto;
			}

			@each $margin-value in $margin-values {
				%margin-#{ unquote( $breakpoint-name ) }-#{ $margin-property }-#{ unquote( $margin-value ) } {
					margin-#{ $margin-property }: #{ $margin-value }px;
				}

				.margin-#{ unquote( $breakpoint-name ) }-#{ $margin-property }-#{ unquote( $margin-value ) } {
					@extend %margin-#{ unquote( $breakpoint-name ) }-#{ $margin-property }-#{ unquote( $margin-value ) };
				}
			}
		}
	}
}
