/**
 * Visibilities
 *
 * @author Jérémy Levron <jeremy@quatre-vingt-deux.fr>
 */
$visibilities-displays: 'inline-block' 'block' 'inline';
@each $breakpoint-name, $breakpoint-value in $grid-breakpoints {

	// Hidden
	@include media-breakpoint-only( $breakpoint-name ) {
		%hidden-#{ unquote($breakpoint-name) } {
			display: none !important;
		}

		.hidden-#{ unquote($breakpoint-name) } {
			@extend %hidden-#{ unquote($breakpoint-name) };
		}
	}

	// Visible
	@include media-breakpoint-up( $breakpoint-name ) {

		@each $display in $visibilities-displays {
			%visible-#{ unquote( $breakpoint-name ) }-#{ unquote( $display ) } {
				display: #{ unquote ( $display ) } !important;
			}

			.visible-#{ unquote( $breakpoint-name ) }-#{ unquote( $display ) } {
				@extend %visible-#{ unquote( $breakpoint-name ) }-#{ unquote( $display ) };
			}
		}
	}
}
