{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "codeFrame": false
  },
  "settings": {
    "import/resolver": webpack,
  },
  "extends": ["standard", "airbnb-base"],
  "rules":{
    "no-console": 0,
    "indent": ["error", "tab"],
    "no-tabs": 0,
    "consistent-return": 1
  },
  "globals": {
    "document": false,
    "$": false,
    "window": false,
    "self": false,
    "log": false,
  }
}
