/**
 * Cursors
 *
 * Construct each cursor property found in $cursors with
 * a placeholder and a utility class
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
 */

@each $breakpoint in map-keys( $grid-breakpoints ) {
	@include media-breakpoint-up( $breakpoint ) {
		$index: index( map-keys( $grid-breakpoints ), $breakpoint );

		@if $index == 1 {
			$breakpoint: '';
		}

		@else {
			$breakpoint: '-#{ $breakpoint }';
		}

		@each $cursor in $cursor {

			// Placeholder
			%cursor#{ $breakpoint }-#{ $cursor } {
				cursor: #{ unquote( $cursor ) };
			}

			// .cursor-{ $breakpoint }-{ $cursor }
			.cursor#{ $breakpoint }-#{ $cursor } {
				@extend %cursor#{ $breakpoint }-#{ $cursor };
			}
		}
	}
}
