/**
 * Floats
 *
 * Construct each float position found in $floats with
 * a placeholder and a utility class
 */

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$index: index(map-keys($grid-breakpoints), $breakpoint);

		@if $index == 1 {
			$breakpoint: "";
		} @else {
			$breakpoint: "-#{ $breakpoint }";
		}

		@each $float in $floats {
			// Placeholder
			%float#{ $breakpoint }-#{ $float } {
				float: #{$float};
			}

			// .float-{ $breakpoint }-{ $float }
			.float#{ $breakpoint }-#{ $float } {
				@extend %float#{ $breakpoint }-#{ $float };
			}
		}
	}
}
