/**
 * Font styles
 *
 * Constructor class for each font styles found in map-get( $font, styles )
 *
 * @param 	$style 			name of style font in map-get( $font, styles )
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */
@if map-has-key($font, styles) {
	@each $style in map-get($font, styles) {
		%font-style-#{ $style } {
			font-style: unquote($style);
		}

		.font-style-#{ $style } {
			@extend %font-style-#{ $style };
		}
	}
}

/**
 * Font weight
 *
 * Constructor class for each font weight found in map-get( $font, weights )
 *
 * @param 	$weight-name    	name of weight
 * @param 	$weight-value   	value of weight
 * @author 	Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
 */
@each $weight-name, $weight-value in map-get($font, weights) {
	%font-weight-#{ "" + $weight-name } {
		font-weight: #{$weight-value};
	}

	.font-weight-#{ "" + $weight-name } {
		@extend %font-weight-#{ "" + $weight-name };
	}
}

/**
 * Font size
 *
 * Constructor class for each font weight found in map-get( $font, sizes )
 *
 * @param 	$font-size
 * @author  Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$index: index(map-keys($grid-breakpoints), $breakpoint);

		@if $index == 1 {
			$breakpoint: "";
		} @else {
			$breakpoint: "-#{ $breakpoint }";
		}

		@each $font-size in map-get($font, sizes) {
			%font-size#{ $breakpoint }-#{ $font-size } {
				font-size: #{$font-size}px;
			}

			.font-size#{ $breakpoint }-#{ $font-size } {
				@extend %font-size#{ $breakpoint }-#{ $font-size };
			}
		}
	}
}

%font-size-inherit {
	font-size: inherit;
}

.font-size-inherit {
	@extend %font-size-inherit;
}

/**
 * Font family
 *
 * Constructor class for each font family found in map-get( $font, families )
 *
 * @param 	$font-family-name      name of the family
 * @param 	$font-family-value     value of the family
 * @author  Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */
@if map-has-key($font, families) {
	@each $font-family-name, $font-family-value in map-get($font, families) {
		%font-family-#{ $font-family-name } {
			font-family: #{$font-family-value};
		}

		.font-family-#{ $font-family-name } {
			@extend %font-family-#{ $font-family-name };
		}
	}
}
