/**
 * Overflows
 *
 * Construct each overflow found in $overflow-values with
 * a placeholder and a utility class
 */
$overflow-values: hidden visible;

@each $overflow-value in $overflow-values {

	// Placeholder
	%overflow-#{ $overflow-value } {
		overflow: #{ $overflow-value };
	}

	%overflow-x-#{ $overflow-value } {
		overflow-x: #{ $overflow-value };
	}

	%overflow-y-#{ $overflow-value } {
		overflow-y: #{ $overflow-value };
	}

	// Utility class
	.overflow-#{ $overflow-value } {
		@extend %overflow-#{ $overflow-value };
	}

	.overflow-x-#{ $overflow-value } {
		@extend %overflow-x-#{ $overflow-value };
	}

	.overflow-y-#{ $overflow-value } {
		@extend %overflow-y-#{ $overflow-value };
	}
}

// Loop through each breakpoint
@each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
	@include media-breakpoint-up( $breakpoint-name ) {
		@each $overflow-value in $overflow-values {

			// Placeholder
			%overflow-#{ $breakpoint-name }-#{ $overflow-value } {
				overflow: #{ $overflow-value };
			}

			%overflow-x-#{ $breakpoint-name }-#{ $overflow-value } {
				overflow-x: #{ $overflow-value };
			}

			%overflow-y-#{ $breakpoint-name }-#{ $overflow-value } {
				overflow-y: #{ $overflow-value };
			}

			// Utility class
			.overflow-#{ $breakpoint-name }-#{ $overflow-value } {
				@extend %overflow-#{ $breakpoint-name }-#{ $overflow-value };
			}

			.overflow-x-#{ $overflow-value } {
				@extend %overflow-x-#{ $breakpoint-name }-#{ $overflow-value };
			}

			.overflow-y-#{ $overflow-value } {
				@extend %overflow-y-#{ $breakpoint-name }-#{ $overflow-value };
			}
		}
	}
}
