/**
 * Overflows
 *
 * Construct each overflow found in $overflow-values with
 * a placeholder and a utility class
 */
$overflow-values: 'hidden' 'scroll';

@each $overflow-value in $overflow-values {

	// Placeholder
	%overflow-#{ unquote( $overflow-value ) } {
		overflow: #{ unquote( $overflow-value ) };
	}

	%overflow-x-#{ unquote( $overflow-value ) } {
		overflow-x: #{ unquote( $overflow-value ) };
	}

	%overflow-y-#{ unquote( $overflow-value ) } {
		overflow-y: #{ unquote( $overflow-value ) };
	}

	// Utility class
	.overflow-#{ unquote( $overflow-value ) } {
		@extend %overflow-#{ unquote( $overflow-value ) };
	}

	.overflow-x-#{ unquote( $overflow-value ) } {
		@extend %overflow-x-#{ unquote( $overflow-value ) };
	}

	.overflow-y-#{ unquote( $overflow-value ) } {
		@extend %overflow-y-#{ unquote( $overflow-value ) };
	}
}

// Loop through each breakpoint
@each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
	@include media-breakpoint-up( $breakpoint-name ) {
		@each $overflow-value in $overflow-values {

			// Placeholder
			%overflow-#{ $breakpoint-name }-#{ unquote( $overflow-value ) } {
				overflow: #{ unquote( $overflow-value ) };
			}

			%overflow-x-#{ $breakpoint-name }-#{ unquote( $overflow-value ) } {
				overflow-x: #{ unquote( $overflow-value ) };
			}

			%overflow-y-#{ $breakpoint-name }-#{ unquote( $overflow-value ) } {
				overflow-y: #{ unquote( $overflow-value ) };
			}

			// Utility class
			.overflow-#{ $breakpoint-name }-#{ unquote( $overflow-value ) } {
				@extend %overflow-#{ $breakpoint-name }-#{ unquote( $overflow-value ) };
			}

			.overflow-x-#{ unquote( $overflow-value ) } {
				@extend %overflow-x-#{ $breakpoint-name }-#{ unquote( $overflow-value ) };
			}

			.overflow-y-#{ unquote( $overflow-value ) } {
				@extend %overflow-y-#{ $breakpoint-name }-#{ unquote( $overflow-value ) };
			}
		}
	}
}
