/**
 * Margins classes
 *
 * $breakpoint 	str Breakpoint name
 *
 *
 * @see http://sass-lang.com/documentation/Sass/Script/Functions.html#map_keys-instance_method
 * @author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
 */
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$index: index(map-keys($grid-breakpoints), $breakpoint);

		@if $index == 1 {
			$breakpoint: '';
		} @else {
			$breakpoint: '-#{ $breakpoint }';
		}

		@each $size, $length in $spacers {
			@if ($base-unit == 'em') {
				$length: em($length, $base-font-size);
			} @else {
				$length: #{$length}px;
			}

			@each $property in (top, right, bottom, left) {
				%padding-#{ $property }#{ $breakpoint }-#{ $size } {
					padding-#{ $property }: $length;
				}

				.padding-#{ $property }#{ $breakpoint }-#{ $size } {
					@extend %padding-#{ $property }#{ $breakpoint }-#{ $size };
				}
			}

			%padding-x#{ $breakpoint }-#{ $size } {
				padding-right: $length;
				padding-left: $length;
			}

			.padding-x#{ $breakpoint }-#{ $size } {
				@extend %padding-x#{ $breakpoint }-#{ $size };
			}

			%padding-y#{ $breakpoint }-#{ $size } {
				padding-top: $length;
				padding-bottom: $length;
			}

			.padding-y#{ $breakpoint }-#{ $size } {
				@extend %padding-y#{ $breakpoint }-#{ $size };
			}

			%padding#{ $breakpoint }-#{ $size } {
				padding-top: $length;
				padding-right: $length;
				padding-bottom: $length;
				padding-left: $length;
			}

			.padding#{ $breakpoint }-#{ $size } {
				@extend %padding#{ $breakpoint }-#{ $size };
			}
		}

		// padding-x-{ breakpoint }-0
		%padding-x#{ $breakpoint }-0 {
			padding-right: 0;
			padding-left: 0;
		}

		.padding-x#{ $breakpoint }-0 {
			@extend %padding-x#{ $breakpoint }-0;
		}

		// padding-y-{ breakpoint }-0
		%padding-y#{ $breakpoint }-0 {
			padding-top: 0;
			padding-bottom: 0;
		}

		.padding-y#{ $breakpoint }-0 {
			@extend %padding-y#{ $breakpoint }-0;
		}

		// padding-{ breakpoint }-0
		%padding#{ $breakpoint }-0 {
			padding: 0;
		}

		.padding#{ $breakpoint }-0 {
			@extend %padding#{ $breakpoint }-0;
		}
	}
}
