/**
 * Sizes classes
 *
 * Constructor class for each sizes and each properties found in
 * $size-dimensions and map-get( $sizes-properties, property )
 *
 * @param   $size-properties map
 * @param   $size-dimensions list
 * @author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
 */

$size-properties: (
	w: width,
	h: height,
);

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$index: index(map-keys($grid-breakpoints), $breakpoint);

		@if $index == 1 {
			$breakpoint: '';
		} @else {
			$breakpoint: '-#{ $breakpoint }';
		}

		@each $size-propertie-value, $size-propertie-name in $size-properties {
			%#{ $size-propertie-value }#{ $breakpoint }-auto {
				#{ $size-propertie-name }: auto;
			}

			.#{ $size-propertie-value }#{ $breakpoint }-auto {
				@extend %#{ $size-propertie-value }#{ $breakpoint }-auto;
			}
		}

		@each $size-dimension in $size-dimensions {
			@each $size-propertie-value, $size-propertie-name in $size-properties {
				/**
				 * Construct each class for each breakpoint
				 *
				 * Round(): Rounds a number to the nearest whole number.
				 *
				 * @see http://sass-lang.com/documentation/Sass/Script/Functions.html#round-instance_method
				 */
				%#{ $size-propertie-value }#{ $breakpoint }-#{ round( $size-dimension ) } {
					#{ $size-propertie-name }: percentage($size-dimension / 100);
				}

				.#{ $size-propertie-value }#{ $breakpoint }-#{ round( $size-dimension ) } {
					@extend %#{
							$size-propertie-value
							}#{
							$breakpoint
							}-#{
							round( $size-dimension )
							};
				}
			}
		}
	}
}
