/**
 * Text aligns
 *
 * Construct each text alignment found in $text-aligns with
 * a placeholder and a utility class
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr>
 */
$text-aligns: 'left' 'right' 'center' 'justify';
@each $text-align in $text-aligns {

	// Placeholder
	%text-align-#{ unquote( $text-align ) } {
		text-align: #{ unquote( $text-align ) };
	}
	
	// .{ $text-align }
	.#{ unquote( $text-align ) } {
		@extend %text-align-#{ unquote( $text-align ) };
	}
}

@each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
	@include media-breakpoint-up( $breakpoint-name ) {
		@each $text-align in $text-aligns {

			// Placeholder
			%text-align-#{ unquote( $breakpoint-name ) }-#{ unquote( $text-align ) } {
				text-align: #{ unquote( $text-align ) };
			}

			// .text-align-{ $breakpoint-name }-{ $text-align }
			.text-align-#{ unquote( $breakpoint-name ) }-#{ unquote( $text-align ) } {
				@extend %text-align-#{ unquote( $breakpoint-name ) }-#{ unquote( $text-align ) };
			}
		}
	}
}
