/**
 * Vertical aligns
 *
 * Construct each vertical alignment found in $vertical-aligns with
 * a placeholder and a utility class
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr>
 */
$vertical-aligns: 'middle' 'top';

@each $vertical-align in $vertical-aligns {
	// Placeholder
	%vertical-align-#{ unquote( $vertical-align ) } {
		vertical-align: #{ unquote( $vertical-align ) };
	}

	// .vertical-align-{ $vertical-align }
	.vertical-align-#{ unquote( $vertical-align ) } {
		@extend %vertical-align-#{ unquote( $vertical-align ) };
	}
}

@each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
	@include media-breakpoint-up( $breakpoint-name ) {
		@each $vertical-align in $vertical-aligns {

			// Placeholder
			%vertical-align-#{ unquote( $breakpoint-name ) }-#{ unquote( $vertical-align ) } {
				vertical-align: #{ unquote( $vertical-align ) };
			}

			// .vertical-align-{ $breakpoint-name }-{ $vertical-align }
			.vertical-align-#{ unquote( $breakpoint-name ) }-#{ unquote( $vertical-align ) } {
				@extend %vertical-align-#{ unquote( $breakpoint-name ) }-#{ unquote( $vertical-align ) };
			}
		}
	}
}
