/**
 * Vertical aligns
 *
 * Construct each vertical alignment found in $vertical-aligns with
 * a placeholder and a utility class
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr>
 */
$vertical-aligns: middle;

@each $vertical-align in $vertical-aligns {
	// Placeholder
	%vertical-align-#{ $vertical-align } {
		vertical-align: #{ $vertical-align };
	}

	// .vertical-align-{ $vertical-align }
	.vertical-align-#{ $vertical-align } {
		@extend %vertical-align-#{ $vertical-align };
	}
}

@each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
	@include media-breakpoint-up( $breakpoint-name ) {
		@each $vertical-align in $vertical-aligns {

			// Placeholder
			%vertical-align-#{ $breakpoint-name }-#{ $vertical-align } {
				vertical-align: #{ $vertical-align };
			}

			// .vertical-align-{ $breakpoint-name }-{ $vertical-align }
			.vertical-align-#{ $breakpoint-name }-#{ $vertical-align } {
				@extend %vertical-align-#{ $breakpoint-name }-#{ $vertical-align };
			}
		}
	}
}
