/**
 * Visibilities
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
 */

@each $breakpoint in map-keys($grid-breakpoints) {
	// Hidden
	@include media-breakpoint-only($breakpoint) {
		$index: index(map-keys($grid-breakpoints), $breakpoint);

		@if $index == 1 {
			$breakpoint: '';
		} @else {
			$breakpoint: '-#{ $breakpoint }';
		}

		%hidden#{ $breakpoint } {
			display: none !important;
		}

		.hidden#{ $breakpoint } {
			@extend %hidden#{ $breakpoint };
		}
	}

	// Visible
	@include media-breakpoint-up($breakpoint) {
		@each $display in $visibilities-displays {
			%visible#{ $breakpoint }-#{ $display } {
				display: #{$display} !important;
			}

			.visible#{ $breakpoint }-#{ $display } {
				@extend %visible#{ $breakpoint }-#{ $display };
			}
		}
	}
}
