/**
 * White spaces
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
 */

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$index: index(map-keys($grid-breakpoints), $breakpoint);

		@if $index == 1 {
			$breakpoint: "";
		} @else {
			$breakpoint: "-#{ $breakpoint }";
		}

		@each $value in $white-space-values {
			%white-space#{ $breakpoint }-#{ $value } {
				white-space: $value;
			}

			.white-space#{ $breakpoint }-#{ $value } {
				@extend %white-space#{ $breakpoint }-#{ $value };
			}
		}
	}
}
