/**
 * Base
 */
@use "sass:math";

html {
	overflow-x: hidden;
}

body {
	line-height: (math.div($base-line-height, $base-font-size) * 1em);
}

a,
button {
	cursor: pointer;
	outline: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

p {
	@include margin(
		top (math.div($base-line-height, $base-font-size) * 1em) bottom
			((math.div($base-line-height, $base-font-size) * 0.5) * 1em)
	);

	/* stylelint-disable-next-line */
	line-height: (math.div($base-line-height, $base-font-size) * 1em);
	font-size: 1em;
}
