/**
 * Create some classes from $color-variations map
 *
 * @param $properties   list of properties ( name of class, property )
 * @uses  @include      create_classes_color( $property1 '$.className', $property2 '$.className2' )
 */
@mixin create_classes_color($properties...) {
	@each $breakpoint in map-keys($grid-breakpoints) {
		@include media-breakpoint-up($breakpoint) {
			$index: index(map-keys($grid-breakpoints), $breakpoint);

			@if $index == 1 {
				$breakpoint: '';
			} @else {
				$breakpoint: '-#{ $breakpoint }';
			}
			
			@each $key, $value in $color-variations {
				// maps require a second loop
				@if type-of($value) == 'map' {
					@each $subname, $subvalue in $value {
						@each $property-key, $property-value in $properties {
							// each item in sub map
							#{ unquote( $property-value ) }#{ $breakpoint }-#{ '' + $key }-#{ '' + $subname } {
								#{ $property-key }: $subvalue;
							}
						}
					}
				} @else {
					@each $property-key, $property-value in $properties {
						#{ unquote( $property-value ) }#{ $breakpoint }-#{ '' + $key } {
							#{ $property-key }: $value;
						}
					}
				}
			}
		}
	}
}
