/**
 * Padding
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr>
 */
@mixin padding( $args: () ) {
	$offsets: top right bottom left;
	
	@each $offset in $offsets {

		// Doing the magic trick
		// All this code happens inside the loop
		$index: index( $args, $offset );

		// If offset is found in the list
		@if $index {

			// If it is found at last position
			@if $index == length( $args ) {

				padding-#{$offset}: 0;
			}

			// If it is followed by a value
			@else {

				$next: nth( $args, $index + 1 );

				// If the next value is value length
				@if is-valid-length( $next ) {
					padding-#{$offset}: $next;
				}

				// If the next value is another offset
				@else if index( $offsets, $next ) {
					padding-#{$offset}: 0;
				}

				// If it is invalid
				@else {
					@warn "Invalid value `#{$next}` for offset `padding-#{$offset}`.";
				}
			}
		}
	}
}